<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALX-Quiz_APP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="app">
        <h1>Basic & Specialization Questions</h1>
        <div class="quiz">
            <h2 id="question">{{ question['text'] }}</h2>
            <form method="POST" action="{{ url_for('submit_answer') }}">
                <div id="answer-buttons">
                    {% for answer in question['answers'] %}
                        <div>
                            <input 
                                type="radio" 
                                id="answer{{ loop.index }}" 
                                name="selected_answer" 
                                value="{{ loop.index }}"
                                required
                            >
                            <label for="answer{{ loop.index }}">{{ answer['text'] }}</label>
                        </div>
                    {% endfor %}
                </div>
                <button id="next-btn" type="submit">{{ next_button_text }}</button>
            </form>
        </div>
    </div>
</body>
</html>
